
.page.theme_dark {
  background-image: url(/images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  --bg-color: #000028;
  --main-font: 'IBM Plex Mono',sans-serif;
  --title-color: #DB00FF;
  --title-text-color: #000E2E;
  --accent-color: #FF0070;
  --accent-text-color: #F1B2CE; 
  --theme-color: #FF0070;
}

@media (prefers-color-scheme:dark) {

  .page {
    background-image: url(/images/cover-image-dark.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    --bg-color: #000028;
    --main-font: 'IBM Plex Mono',sans-serif;
    --title-color: #DB00FF;
    --title-text-color: #000E2E;
    --accent-color: #FF0070;
    --accent-text-color: #F1B2CE;
    --theme-color: #FF0070;
  }
}
