
.page.theme_dark {
  background-image: url(../images/cover-image-dark.png); 
  --bg-color: #000028;
  --title-color: #DB00FF;
  --title-text-color: #000E2E;
  --accent-color: #FF0070;
  --accent-text-color: #F1B2CE; 
  --theme-color: #FF0070;
}

.decorated__zone-text {
  display: block;
}

@media (prefers-color-scheme:dark) {

  .page {
    background-image: url(../images/cover-image-dark.png);
    --bg-color: #000028;
    --title-color: #DB00FF;
    --title-text-color: #000E2E;
    --accent-color: #FF0070;
    --accent-text-color: #F1B2CE;
    --theme-color: #FF0070;
  }
}
