
.page.theme_light {
  background-image: url(../images/cover-image-light.png); 
  --bg-color:#FFF1F7;
  --title-color: #FFC2E6;
  --title-text-color: #353430;
  --accent-color: #FF8DCB;
  --accent-text-color: #353430;
  --theme-color: #353430;
  --border-hover-color: rgba(50, 49, 45, 0.4);
}

.page.theme_light .decorated__zone-text {
  display: none;
}

@media (prefers-color-scheme:light) {

  .page {
    background-image: url(../images/cover-image-light.png); 
    --bg-color:#FFF1F7;
    --title-color: #FFC2E6;
    --title-text-color: #353430;
    --accent-color: #FF8DCB;
    --accent-text-color: #353430;
    --theme-color: #353430;
    --border-hover-color: rgba(50, 49, 45, 0.4);
} 

.decorated__zone-text{
  display: none;
}

}